body {
    background: #303030;
}

#pricing-table {
    margin: 100px auto;
    text-align: center;
    width: 892px; /* total computed width = 222 x 3 + 226 */
}

.clear:before, .clear:after {
    content: "";
    display: table
}

.clear:after {
    clear: both
}

.clear {
    zoom: 1
}